In [2]:
import pandas as pd
import random
from joblib import Parallel, delayed

## Import Datasets

#### Abstracts

In [ ]:
abstract = pd.read_csv('./data/arxiv_data_210930-054931.csv')
abstract

#### Articles

In [8]:
article1 = pd.read_csv('./data/articles1.csv')
article2 = pd.read_csv('./data/articles2.csv')
article3 = pd.read_csv('./data/articles3.csv')

In [16]:
article = pd.concat([article1,article2,article3],ignore_index=True)
article

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."
...,...,...,...,...,...,...,...,...,...,...
142565,146028,218078,An eavesdropping Uber driver saved his 16-year...,Washington Post,Avi Selk,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Uber driver Keith Avila picked up a p...
142566,146029,218079,Plane carrying six people returning from a Cav...,Washington Post,Sarah Larimer,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Crews on Friday continued to search L...
142567,146030,218080,After helping a fraction of homeowners expecte...,Washington Post,Renae Merle,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,When the Obama administration announced a...
142568,146031,218081,"Yes, this is real: Michigan just banned bannin...",Washington Post,Chelsea Harvey,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,This story has been updated. A new law in...
142569,146032,218082,What happened in Washington state after voters...,Washington Post,Christopher Ingraham,2016-12-29,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,The nation’s first recreational marijuana...

#### Blogs

In [17]:
blog = pd.read_csv('./data/blogtext.csv')
blog

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
...,...,...,...,...,...,...,...
681279,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, I could write some really ..."
681280,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, 'I have the second yeast i..."
681281,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, Your 'boyfriend' is fuckin..."
681282,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan: Just to clarify, I am as..."
681283,1713845,male,23,Student,Taurus,"01,July,2004","Hey everybody...and Susan, You might a..."

#### Movie

In [19]:
movie = pd.read_csv('./data/moviedataset.csv')
movie

,Unnamed: 0,actors,characters,movie title,genres,release year,IMDB ID,Scripts
0,0,Meryl Streep,Clarissa Vaughan,The Hours,Drama,2002,tt0274558,"Dearest, I feel certain that I am going mad ag..."
1,1,Meryl Streep,Blue Mecha (voice),A.I. Artificial Intelligence,"Adventure, Drama, Science Fiction",2001,tt0212720,Al That was when the icecaps had melted becaus...
2,2,Meryl Streep,Francesca Johnson,The Bridges of Madison County,"Drama, Romance",1995,tt0112579,"- MICHAEL: Hi, sis. - CAROLYN: Hey. - CAROLYN:..."
3,3,Meryl Streep,Miranda Priestly,The Devil Wears Prada,"Comedy, Drama, Romance",2006,tt0458352,"Good luck. Hi. Uh, I have an appointment with ..."
4,4,Meryl Streep,Clara del Valle Trueba,The House of the Spirits,"Drama, Romance",1994,tt0107151,THE HOUSE OF THE SPIRITS. It’s good to be back...
...,...,...,...,...,...,...,...,...
3918,3918,Will Ferrell,NaN,The Thin Pink Line,Comedy,1998,tt0171825,NaN
3919,3919,Will Ferrell,NaN,Men Seeking Women,"Comedy, Romance",1997,tt0219919,NaN
3920,3920,Will Ferrell,Angel,"Good Cop, Baby Cop",Comedy,2007,tt1488565,NaN
3921,3921,Will Ferrell,"Michael, Brian's Boyfriend (uncredited)",Boat Trip,Comedy,2002,tt0285462,Sol Kyung-Gu Moon So-Ri Kim Yeo-Jin Written an...
3922,3922,Will Ferrell,NaN,Bat Fight with Will Ferrell,NaN,2009,tt1535001,NaN

#### Reddit

In [20]:
reddit = pd.read_csv('./data/Reddit_Data.csv')
reddit

                                           clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp’ cell          0

[37249 rows x 2 columns]

#### Songs

In [21]:
song = pd.read_csv('./data/song_lyrics.csv')
song

,title,tag,artist,year,views,features,lyrics,id,language_cld3,language_ft,language
0,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}","[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",1,en,en,en
1,Can I Live,rap,JAY-Z,1996,468624,{},"[Produced by Irv Gotti]\n\n[Intro]\nYeah, hah,...",3,en,en,en
2,Forgive Me Father,rap,Fabolous,2003,4743,{},Maybe cause I'm eatin\nAnd these bastards fien...,4,en,en,en
3,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}",[Produced by Kanye West and Brian Miller]\n\n[...,5,en,en,en
4,Fly In,rap,Lil Wayne,2005,78271,{},"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",6,en,en,en
...,...,...,...,...,...,...,...,...,...,...,...
5134851,Ocean,pop,Effemar,2022,3,{},[Verse 1]\nDance for me now\nKeeping yourself ...,7882842,en,en,en
5134852,64 Bars,rap,Rapido,2022,4,{},"[Intro]\n\nJa, ja\n\n[Part 1]\n\nR-A-H, Merhab...",7882843,de,de,de
5134853,Raise Our Hands,pop,"Culture Code, Pag & Mylo",2016,3,"{Elex,""Culture Code / Pag & Mylo""}",[Verse 1]\nHere our purpose feels alive\nWe ar...,7882845,en,en,en
5134854,CEO,rap,Antropolita,2022,5,{},Jestem CEO w tym\nTo jara twoją bitch\nNikt na...,7882846,pl,pl,pl
5134855,New Number,country,Alana Springsteen,2022,1,{},"[Verse 1]\nYou need a new number, one that ain...",7882848,en,en,en

#### Twitter

In [22]:
twitter = pd.read_csv('./data/Twitter_Data.csv')
twitter

                                               clean_text  category
0       when modi promised “minimum government maximum...      -1.0
1       talk all the nonsense and continue all the dra...       0.0
2       what did just say vote for modi  welcome bjp t...       1.0
3       asking his supporters prefix chowkidar their n...       1.0
4       answer who among these the most powerful world...       1.0
...                                                   ...       ...
162975  why these 456 crores paid neerav modi not reco...      -1.0
162976  dear rss terrorist payal gawar what about modi...      -1.0
162977  did you cover her interaction forum where she ...       0.0
162978  there big project came into india modi dream p...       0.0
162979  have you ever listen about like gurukul where ...       1.0

[162980 rows x 2 columns]

## Create unified Dataset

In [27]:
dfs = {'abstract': abstract,
       'article': article,
       'blog': blog,
       'movie': movie,
       'reddit': reddit,
       'song': song,
       'twitter': twitter}

columns_to_keep = {'abstract': 'abstracts',
                   'article': 'content',
                   'blog': 'text',
                   'movie': 'Scripts',
                   'reddit': 'clean_comment',
                   'song': 'lyrics',
                   'twitter': 'clean_text'}  # Specify the column names to keep for each DataFrame

combined_data = pd.DataFrame(columns=['text', 'Source'])  # Initialize the combined DataFrame

for source, df in dfs.items():
    selected_column = df[columns_to_keep[source]]  # Select the specific column from the DataFrame
    combined_data = pd.concat([combined_data, pd.DataFrame({'text': selected_column, 'Source': source})], ignore_index=True)

In [28]:
combined_data

                                                      text    Source
0        Graph neural networks (GNNs) have been widely ...  abstract
1        Deep networks and decision forests (such as ra...  abstract
2        Graph convolutional networks (GCNs) are powerf...  abstract
3        With the increasing popularity of Graph Neural...  abstract
4        Machine learning solutions for pattern classif...  abstract
...                                                    ...       ...
6219038  why these 456 crores paid neerav modi not reco...   twitter
6219039  dear rss terrorist payal gawar what about modi...   twitter
6219040  did you cover her interaction forum where she ...   twitter
6219041  there big project came into india modi dream p...   twitter
6219042  have you ever listen about like gurukul where ...   twitter

[6219043 rows x 2 columns]

In [29]:
combined_data.to_csv('data.csv', index=False)

## Balancing the dataset

Targat, find the smallest group of sources and bring the others down to the same amount. 
We do not want the model to tend towards a category just because in the training phase more data from a specific category is being feed to the model

In [3]:
# loading the complex data generated above
data_origin = pd.read_csv('Data\data.csv')

In [4]:
unique_labels = data_origin['Source'].unique()
print("Unique Labels:", unique_labels)

for label in unique_labels:
    label_data = data_origin[data_origin['Source'] == label]
    na_count = label_data.isna().sum()
    print(f"Missing values for {label}:", na_count)
    
    # Dropping rows with missing values
    label_data = label_data.dropna()
    # Assign the modified data back to the original DataFrame
    data_origin[data_origin['Source'] == label] = label_data

# Verify if the rows with missing values have been removed
for label in unique_labels:
    na_count = data_origin[data_origin['Source'] == label].isna().sum()
    print(f"Missing values for {label} after removal:", na_count)
    
    
print("number of observations before dropping songs:", len(data_origin))

# Entfernen der Beobachtungen mit Source = "Book"
data_remaining = data_origin[data_origin['Source'] != 'song']

# Nach dem Entfernen
print("number of observations after dropping songs:", len(data_remaining))

Unique Labels: ['abstract' 'article' 'blog' 'movie' 'reddit' 'song' 'twitter']
Missing values for abstract: text      0
Source    0
dtype: int64
Missing values for article: text      0
Source    0
dtype: int64
Missing values for blog: text      0
Source    0
dtype: int64
Missing values for movie: text      585
Source      0
dtype: int64
Missing values for reddit: text      100
Source      0
dtype: int64
Missing values for song: text      0
Source    0
dtype: int64

In [5]:
# Calculate the minimum count among the sources
min_count = data_remaining.groupby('Source').size().min()
min_count

3923

In [ ]:
# Initialize an empty list to store the balanced data
balanced_data = []
grouped_data = data_remaining.groupby('Source')

for source, group in grouped_data:
    sampled_subset = group.sample(n=min_count, random_state=42)
    balanced_data.append(sampled_subset)

# Concatenate the balanced data from all sources
balanced_data = pd.concat(balanced_data)
# Reset the index of the balanced data
balanced_data = balanced_data.reset_index(drop=True)

# The 'balanced_data' DataFrame now contains exactly 3923 observations for each source variation
# with the 'text' and 'Source' features preserved

In [ ]:
balanced_data

In [ ]:
source_counts = balanced_data['Source'].value_counts()
print(source_counts)

In [ ]:
balanced_data.to_csv('balenced_data.csv', index=False)

## Amount of Data
In this case, we have a dataset of 27,461 observations and we allocate 80% (approximately 21,968 observations) for training, it can be considered a reasonably large training set. However, it ultimately depends on the nature of your specific task and dataset. Discussion with the team might be needed

## Further steps needed
- Process the text data: Depending on the requirements and frame we set for the prject. Tokenization, lowercasing, stemming, lemmatization are needed. Can we use packages like NLTK?
- Vektorize the text Data: Converting the text data into numerical representations that a model can process. Techiniques are: BoW, TF-IDF or Word embeddings.
- Choose model: Naive Bayes, Support Vector Machines (SVM), Random Forest, or deep learning models like Convolutional Neural Networks (CNN) or Recurrent Neural Networks (RNN).
- Evaluation of the Model performance
- Possible fine tuning
- Testing